body, html {
    font-size: 16px;
    background-image: url(../images/1337527.png);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body::before {
    filter: blur(8px);
}


html {
  position: relative;
  min-height: 100%;
}




